/output
/input
/src/.ipynb_checkpoints/
.DS_Store
/src/__pycache__/
/features/*.feather
/features/*.pkl
/features/plans/*.pkl
/features/phase1
/features/feats1/*.feather
/features/feats2/*.feather
/features/feats3/*.feather
